
*, ::after, ::before {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(0deg, black, rgb(8, 88, 119), rgb(76, 89, 94)) no-repeat;
    background-attachment: fixed;
}

button {
    min-width: 175px;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

button:active {
    transform: scale(0.9);
}

.items:hover {
    transform: scale(1.1);
}

#imgNoMensaje {
    animation: imgSlider 1.4s ease-in-out;
}

#btnEncryp {
    animation: slider 1s ease-in-out;
}

#btnDesencryp {
    animation: slider2 1.2s ease-in-out;
}

@keyframes slider {
    from {
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slider2 {
    from {
        transform: translateX(-3000px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes imgSlider {
    0% {
        transform: scale(0) translateX(350px);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}