
* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(0deg, black, rgb(8, 88, 119), rgb(76, 89, 94));
    background-repeat: no-repeat;
}

main {
    min-height: 890px;
}