@use 'mixins';

:root {
    --white: #ffffff;
    --black: #000000;
    --bg-body: radial-gradient(rgba(166, 235, 240, 0.911) ,rgba(123, 239, 247, 0.808), rgba(9, 136, 209, 0.76), rgba(86, 164, 236, 0.808), rgba(123, 239, 247, 0.808));;
    --bg-form: radial-gradient( rgb(176, 223, 255), rgb(19, 100, 194), rgb(6, 64, 129));
    --bg-light-textarea: linear-gradient(180deg, rgb(233, 233, 233), rgb(156, 156, 156), rgb(138, 137, 137));
    --bg-dark-textarea: linear-gradient(180deg, rgba(5, 98, 151, 0.753), rgba(21, 80, 148, 0.651));
    --bg-dark-div2: radial-gradient( rgb(59, 59, 59), rgb(33, 34, 34), rgb(0, 0, 0));
    --light-shadow: 0 2px 7px rgba(255, 255, 255, 0.349);
    --box-dark-shadow: -10px 15px 35px rgba(0, 0, 0);
    --box-light-shadow: 10px 15px 35px rgba(255, 255, 255, 0.562);
    --btn-bg-color: linear-gradient(180deg, white, rgba(255, 174, 0, 0.685), rgba(226, 155, 0, 0.822), rgba(110, 77, 5, 0.342));
}


*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-body);
    background-size: 600% 200%;
    position: relative;
    animation: cambiar 18s ease-in-out infinite;
    main {
        .container-fluid {
            .row {
                .divHeader {
                    h1 {
                        font-weight: 800;
                        text-shadow: var(--light-shadow);
                    }
                }
                .div1 {
                    box-shadow: var(--box-light-shadow);
                    form {
                        border: 0;
                        border-radius: 0;
                        background: var(--bg-form);
                        .divButtons {
                            display: flex;
                            justify-content: center;
                            gap: 1.5rem;
                        }
                        textarea {
                            border: 0;
                            background: var(--bg-light-textarea);
                        }
                    }
                }
                button {
                    min-width: 175px;
                    border: none;
                    border-radius: 10px;
                    &:active {
                        transform: scale(0.9);
                    }
                }

                .div2 {
                    box-shadow: var(--box-light-shadow);
                    background: var(--bg-dark-div2);
                    textarea {
                        background: var(--bg-dark-textarea);
                    }
                }

                #logoAlura {
                    //animation: logoSlider 1.4s ease-in-out;
                    animation: rotateInf 2.5s infinite ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                        transition: 0.5s transform;
                    }
                }

                #imgNoMensaje {
                    animation: imgSlider 1.4s ease-in-out;
                }

                #btnEncryp {
                    @include mixins.btn();
                    @include mixins.moveSliders(-1000px, 1s);
                }

                #btnDesencryp {
                    @include mixins.btn();
                    @include mixins.moveSliders(-1000px, 1.7s);
                }
                #btnCopy {
                    @include mixins.btn();
                }
            }
        }
    }

    .container {
        footer {
            a {
                color: black;
                &:hover {
                    transform: scale(1.1);
                }
                &:nth-child(1) {
                    animation: items 0.7s ease-in-out;
                }
                &:nth-child(2) {
                    animation: items 1.2s ease-in-out;
                }
                &:nth-child(3) {
                    animation: items 1.6s ease-in-out;
                }
            }
        }
    }
}