@use 'mixins';
@use 'darkmode';

:root {
    --white: #fffffff5;
    --black: #000000f5;
    --bg-body: radial-gradient(rgba(248, 182, 107, 0.911) ,rgba(123, 239, 247, 0.808), rgba(224, 158, 34, 0.781), rgba(9, 136, 209, 0.76), rgba(86, 164, 236, 0.808), rgba(247, 224, 123, 0.808));;
    --bg-dark-form: linear-gradient(180deg, rgba(7, 12, 27, 0.733), rgba(0, 0, 0, 0.76));
    --bg-light-form: linear-gradient(180deg, rgba(255, 255, 255, 0.493), rgba(196, 199, 202, 0.671), rgba(213, 215, 218, 0.74));
    --bg-dark-textarea: linear-gradient(180deg, rgba(5, 98, 151, 0.753), rgba(21, 80, 148, 0.651));
    --bg-dark-div2: radial-gradient( rgb(7, 12, 27), rgb(1, 5, 17), rgb(0, 0, 0));
    --box-dark-shadow: 0px 15px 25px rgba(0, 0, 0);
    --box-light-shadow: 0px 0px 15px rgba(255, 255, 255, 0.562);
    --btn-bg-color: linear-gradient(180deg, rgba(156, 243, 239, 0.877), rgba(66, 230, 252, 0.89), rgba(15, 114, 160, 0.932));
}

*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-body);
    background-size: 600% 200%;
    position: relative;
    animation: cambiar 18s ease-in-out infinite;
    main {
        .container-fluid {
            .row {
                .divHeader {
                    h1 {
                        font-weight: 800;
                        text-shadow: var(--light-shadow);
                    }
                }
                input {
                    cursor: pointer;
                }
                .div1 {
                    box-shadow: var(--box-dark-shadow);
                    border-radius: 15px;
                    form {
                        border: 0;
                        border-radius: 15px;
                        background: var(--bg-light-form);
                        .divButtons {
                            display: flex;
                            justify-content: center;
                            gap: 1.5rem;
                        }
                        textarea {
                            border: 0;
                            background: transparent;
                        }
                    }
                }
                button {
                    min-width: 175px;
                    border: none;
                    border-radius: 10px;
                    &:active {
                        transform: scale(0.9);
                    }
                }

                .div2 {
                    box-shadow: var(--box-dark-shadow);
                    background: linear-gradient(180deg, rgba(138, 138, 138, 0.705), rgba(119, 118, 118, 0.678));
                    border-radius: 15px;
                    textarea {
                        background: transparent;
                    }
                }

                #logoAlura {
                    //animation: logoSlider 1.4s ease-in-out;
                    animation: rotateInf 2.5s infinite ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                        transition: 0.5s transform;
                    }
                }

                #imgNoMensaje {
                    animation: imgSlider 1.4s ease-in-out;
                }

                #btnEncryp {
                    @include mixins.btn();
                    @include mixins.moveSliders(-1000px, 1s);
                }

                #btnDesencryp {
                    @include mixins.btn();
                    @include mixins.moveSliders(-1000px, 1.7s);
                }
                #btnCopy {
                    @include mixins.btn();
                }
            }
        }
    }

    .container {
        footer {
            a {
                color: black;
                &:hover {
                    transform: scale(1.1);
                }
                &:nth-child(1) {
                    animation: items 0.7s ease-in-out;
                }
                &:nth-child(2) {
                    animation: items 1.2s ease-in-out;
                }
                &:nth-child(3) {
                    animation: items 1.6s ease-in-out;
                }
            }
        }
    }
}