
@mixin btn{
    font-size: 1.2rem;
    font-weight: 800;
    background: var(--btn-bg-color) !important;
    &:hover {
        color: var(--white);
        background: linear-gradient(180deg, rgba(60, 131, 126, 0.877), rgba(22, 97, 93, 0.89), rgba(9, 65, 88, 0.932)) !important;
        transition: all 0.5s;
        transform: translateY(-0.4rem);
    }
    &:active {
        transform: scale(0.8);
    }
}

@mixin moveSliders($move, $seconds) {
    animation: slider $seconds ease-in-out;
    @keyframes slider {
        from {
            transform: translateX($move);
        }
    
        to {
            transform: translateX(0);
        }
    }
}
