*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background: radial-gradient(rgba(184, 213, 230, 0.699), rgba(176, 223, 255, 0.788), rgba(9, 85, 173, 0.733));
  background-attachment: fixed;
}
body main .container-fluid .row .divHeader h1 {
  font-weight: 800;
  text-shadow: 0 2px 7px rgba(255, 255, 255, 0.349);
}
body main .container-fluid .row .divHeader p {
  color: rgb(54, 54, 54);
}
body main .container-fluid .row .div1 {
  box-shadow: -10px 15px 35px rgb(0, 0, 0);
}
body main .container-fluid .row .div1 form {
  border: 0;
  background: radial-gradient(rgb(176, 223, 255), rgb(19, 100, 194), rgb(6, 64, 129));
}
body main .container-fluid .row .div1 form .divButtons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
body main .container-fluid .row .div1 form textarea {
  background: linear-gradient(180deg, rgb(233, 233, 233), rgb(126, 126, 126));
}
body main .container-fluid .row button {
  min-width: 175px;
  border: none;
  border-radius: 10px;
}
body main .container-fluid .row button:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}
body main .container-fluid .row button:active {
  transform: scale(0.9);
}
body main .container-fluid .row .div2 {
  box-shadow: 10px 15px 35px rgba(255, 255, 255, 0.562);
  background: radial-gradient(rgb(59, 59, 59), rgb(33, 34, 34), rgb(0, 0, 0));
}
body main .container-fluid .row .div2 textarea {
  background: linear-gradient(180deg, rgba(6, 84, 129, 0.925), rgb(7, 34, 65), rgba(0, 0, 0, 0.712));
}
body main .container-fluid .row #logoAlura {
  animation: logoSlider 1.4s ease-in-out;
}
body main .container-fluid .row #logoAlura:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.5s transform;
}
body main .container-fluid .row #imgNoMensaje {
  animation: imgSlider 1.4s ease-in-out;
}
body main .container-fluid .row #btnEncryp {
  animation: slider 1s ease-in-out;
}
body main .container-fluid .row #btnDesencryp {
  animation: slider2 1.2s ease-in-out;
}
body .container footer a {
  color: black;
}
body .container footer a:hover {
  transform: scale(1.1);
}
body .container footer a:nth-child(1) {
  animation: items 0.7s ease-in-out;
}
body .container footer a:nth-child(2) {
  animation: items 1.2s ease-in-out;
}
body .container footer a:nth-child(3) {
  animation: items 1.6s ease-in-out;
}

@keyframes slider {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slider2 {
  from {
    transform: translateX(-3000px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes imgSlider {
  0% {
    transform: scale(0) translateX(350px);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}
@keyframes logoSlider {
  0% {
    transform: scale(0) translateX(-350px);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}
@keyframes items {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 992px) {
  main .container-fluid .row .divHeader {
    margin-top: 4rem;
  }
  main .container-fluid .row .div1 form .divButtons {
    display: block !important;
  }
  main .container-fluid .row .div1 form .divButtons button {
    margin: 10px auto;
    width: 100%;
  }
}
@media (max-width: 768px) {
  main .container-fluid .row {
    gap: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
